/*div, #input, .wrapper, h1{*/
/*    border: 1px solid red;*/
/*}*/
body{
    background-color: black;
}
h1{
    color: black;
    background-color: yellow;
    text-align: center;
    cursor: pointer;
}

#input{
    padding-left: 20px;
    margin-top: 50px;
    border-radius: 50px;
    width: 200px;
    height: 30px;
    text-align: left;

}

#btnAdd{
    width: 50px;
    height: 35px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    background-color: black;
    box-shadow: black 0 0 20px;
}
.wrapper{
    margin: 0 auto;
    width: 600px;
    /*height:   500px;*/
}

.active {
    background: greenyellow;
    border-radius: 30px;
    margin-top: 30px;
    text-decoration-line: underline;
}
.doneBtn{
    /*position: absolute;*/

}
/*.titleh3{*/
    /*margin: 15px 0 0 20px;*/
    /*padding: 20px 0 0 20px;*/
/*}*/
.card {
    margin-top: 30px;
    /*position: relative;*/
    background: white;
    /*padding-left: 20px;*/
    /*padding-top: 20px;*/
    border-radius: 30px;
    /*font-size: 40px;*/
    /*font-size: 30px;*/
    /*width: 600px;*/
    /*margin-top: 30px;*/
    /*height: 40px;*/
    /*padding-left: 20px;*/
    /*!*height: 20px;*!*/
    /*bottom: 0;*/
    /*animation: card 2s linear 1 0s;*/
}

/*.newCard{*/
/*    position: relative;*/
/*    animation: newCard 1s linear 0s 1;*/
/*}*/
/*@keyframes newCard {*/
/*    from{*/
/*        position: absolute;*/
/*        top: 20px;*/
/*        left: 50%;*/
/*    }*/
/*}*/


h3{
    height: 20px;
    text-align: center;
}
#output{

}